# Extraction outputs
extraction-outputs/plots/*
extraction-outputs/tables/*
!extraction-outputs/scripts/
!extraction-outputs/scripts/**
!extraction-outputs/tables/manifest.csv
!extraction-outputs/tables/fof_outcomes.csv
!extraction-outputs/tables/bound_outcomes.csv

# Generated model/artifact outputs that are exploratory only
## excluding all the figures I use in report (moved to folder report-table-figure/)
eda/**/*.png
eda/**/*.csv
ml/triage/*.csv
*.pkl
*.json

# these are still included for reproducibility (so anyone who clones the repo can run the demo right away)
!ml/trainingartifacts/raw_rf/main_bmf_raw_rf.pkl
!ml/trainingartifacts/tuned_gradient_boosting/main_bmf_tuned_gradient_boosting.pkl
!ml/triage/fragmentation_classifier.pkl
!ml/triage/fragmentation_regressor.pkl
!ml/triage/training_domain.json
!ml/triage/metrics.json
!ml/triage/largest_fragment_mass_kg_metrics.json

# Local logs, scratch space, OS, caches, test tooling, local env, junk files, etc
.DS_Store
~$*.doc
~$*.docx
~$*.xls
~$*.xlsx
~$*.ppt
~$*.pptx
*.swp
*.tmp
*.bak
logs/*.out
logs/*.err
.log
tmp/
temp/
.scratch/
scratch/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.env
.env.*
.venv/
venv/
configs/paths.yaml
configs/ssh.yaml
archived/
_testing_reproducibility/
_testing_reproducibility_cmf/
src/mars_flyby_explorer.egg-info
.html
.html.1
outputs/

# hdf5 files, sph-related files in ssh hpc
*.hdf5
martian_moon_data/